<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recon.community.mapper.ActivityRecordingMapper" >
  <resultMap id="BaseResultMap" type="com.recon.community.entity.ActivityRecording" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="activity_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="participate_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="recording" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, participate_number, recording, create_user, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from housekeeping_activity_recording
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from housekeeping_activity_recording
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.recon.community.entity.ActivityRecording" >
    insert into housekeeping_activity_recording (id, activity_id, participate_number, 
      recording, create_user, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{activityId,jdbcType=VARCHAR}, #{participateNumber,jdbcType=VARCHAR}, 
      #{recording,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.recon.community.entity.ActivityRecording" >
    insert into housekeeping_activity_recording
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="participateNumber != null" >
        participate_number,
      </if>
      <if test="recording != null" >
        recording,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="participateNumber != null" >
        #{participateNumber,jdbcType=VARCHAR},
      </if>
      <if test="recording != null" >
        #{recording,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.recon.community.entity.ActivityRecording" >
    update housekeeping_activity_recording
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="participateNumber != null" >
        participate_number = #{participateNumber,jdbcType=VARCHAR},
      </if>
      <if test="recording != null" >
        recording = #{recording,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recon.community.entity.ActivityRecording" >
    update housekeeping_activity_recording
    set activity_id = #{activityId,jdbcType=VARCHAR},
      participate_number = #{participateNumber,jdbcType=VARCHAR},
      recording = #{recording,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>