<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recon.community.mapper.civilAlmsApplyMapper" >
  <resultMap id="BaseResultMap" type="com.recon.community.entity.civilAlmsApply" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="resident_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="withdrawal_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="expropriation_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="expropriation_unit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unemployment_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="remedies_type" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="relief_reason" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_unit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="del_flag" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, resident_id, withdrawal_time, expropriation_time, expropriation_unit, unemployment_time, 
    remedies_type, relief_reason, create_unit, create_user, create_time, update_user, 
    update_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from civil_alms_apply
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from civil_alms_apply
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.recon.community.entity.civilAlmsApply" >
    insert into civil_alms_apply (id, resident_id, withdrawal_time, 
      expropriation_time, expropriation_unit, 
      unemployment_time, remedies_type, relief_reason, 
      create_unit, create_user, create_time, 
      update_user, update_time, del_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{residentId,jdbcType=VARCHAR}, #{withdrawalTime,jdbcType=TIMESTAMP}, 
      #{expropriationTime,jdbcType=TIMESTAMP}, #{expropriationUnit,jdbcType=VARCHAR}, 
      #{unemploymentTime,jdbcType=TIMESTAMP}, #{remediesType,jdbcType=CHAR}, #{reliefReason,jdbcType=VARCHAR}, 
      #{createUnit,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.recon.community.entity.civilAlmsApply" >
    insert into civil_alms_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="residentId != null" >
        resident_id,
      </if>
      <if test="withdrawalTime != null" >
        withdrawal_time,
      </if>
      <if test="expropriationTime != null" >
        expropriation_time,
      </if>
      <if test="expropriationUnit != null" >
        expropriation_unit,
      </if>
      <if test="unemploymentTime != null" >
        unemployment_time,
      </if>
      <if test="remediesType != null" >
        remedies_type,
      </if>
      <if test="reliefReason != null" >
        relief_reason,
      </if>
      <if test="createUnit != null" >
        create_unit,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="residentId != null" >
        #{residentId,jdbcType=VARCHAR},
      </if>
      <if test="withdrawalTime != null" >
        #{withdrawalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expropriationTime != null" >
        #{expropriationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expropriationUnit != null" >
        #{expropriationUnit,jdbcType=VARCHAR},
      </if>
      <if test="unemploymentTime != null" >
        #{unemploymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remediesType != null" >
        #{remediesType,jdbcType=CHAR},
      </if>
      <if test="reliefReason != null" >
        #{reliefReason,jdbcType=VARCHAR},
      </if>
      <if test="createUnit != null" >
        #{createUnit,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.recon.community.entity.civilAlmsApply" >
    update civil_alms_apply
    <set >
      <if test="residentId != null" >
        resident_id = #{residentId,jdbcType=VARCHAR},
      </if>
      <if test="withdrawalTime != null" >
        withdrawal_time = #{withdrawalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expropriationTime != null" >
        expropriation_time = #{expropriationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expropriationUnit != null" >
        expropriation_unit = #{expropriationUnit,jdbcType=VARCHAR},
      </if>
      <if test="unemploymentTime != null" >
        unemployment_time = #{unemploymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remediesType != null" >
        remedies_type = #{remediesType,jdbcType=CHAR},
      </if>
      <if test="reliefReason != null" >
        relief_reason = #{reliefReason,jdbcType=VARCHAR},
      </if>
      <if test="createUnit != null" >
        create_unit = #{createUnit,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recon.community.entity.civilAlmsApply" >
    update civil_alms_apply
    set resident_id = #{residentId,jdbcType=VARCHAR},
      withdrawal_time = #{withdrawalTime,jdbcType=TIMESTAMP},
      expropriation_time = #{expropriationTime,jdbcType=TIMESTAMP},
      expropriation_unit = #{expropriationUnit,jdbcType=VARCHAR},
      unemployment_time = #{unemploymentTime,jdbcType=TIMESTAMP},
      remedies_type = #{remediesType,jdbcType=CHAR},
      relief_reason = #{reliefReason,jdbcType=VARCHAR},
      create_unit = #{createUnit,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>